@use '@/styles/helpers' as *;

.pagination {
  margin-block: rem(16);

  &List {
    @include flex-center();
    justify-content: start;
    gap: rem(4);
    flex-wrap: wrap;
  }

  &Item {
    @include flex-center();
  }

  &Button {
    @include reset-button;
    @include square(rem(36));
    font-size: rem(14);
    border: rem(1) solid darkslategray;
    color: var(--text-color);
    &Active {
      background-color: teal;
      color: white;
    }

    @include hover {
      background-color: lightgrey;
    }
  }
}
