@use '@/styles/helpers' as *;

.item {
  border-radius: rem(20);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &Image {
    height: rem(200);
    width: 100%;
    object-fit: cover;
  }
}