@use '../helpers' as *;

:root {
  --color-white: #ffffff;
  --color-black: #1a1a1e;


  --text-color: var(--color-black);
  --bg-color: var(--color-white);

  --color-blue: #5db1c3;
  --color-red: #f62e2e;
  --color-green: #2eaa67;

  --color-gray: #dcdcdd;

  --font-family-base: 'Inter', sans-serif;

  --container-width: #{rem(1800)};
  --container-padding-x: #{rem(48)};

  --transition-duration: 0.4s;

  --100vw: calc(100vw - var(--scrollbar-width));


  @include laptop {
    --container-padding-x: #{rem(24)};
  }

  @include tablet {
    --container-padding-x: #{rem(20)};
  }

  @include mobile-s {
    --container-padding-x: #{rem(15)};
  }
}
