@use '@/styles/helpers' as *;

.header {
  border-bottom: rem(1) solid var(--color-gray);
  margin-bottom: rem(24);

  &Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(24);
  }

  &Title {
    font-size: rem(32);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(8);
  }

  &Date {
    font-size: rem(24);
  }

  &Left {
    display: flex;
    flex-direction: column;
  }
}