@use '@/styles/helpers' as *;

.input {
  @include reset-button;
  //border-radius: rem(9);
  border: rem(1) solid var(--color-gray-dark);
  padding: rem(10) rem(12);
  width: 100%;
  margin-bottom: rem(8);
}